* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


h1, h2, p {
  margin: 0;
}

nav {
  list-style-type: none;
  padding: none;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}
